/* .link-style {
    color: red;
    text-decoration: none;
  } */

/*--Moshiur jQuery Tutorial--*/

.container {
	max-width: 550px;
	margin: 0 auto;
	padding: 7em 10px;
}
.jquery {
	padding: 30px 20px;
	border: 1px solid chocolate;
	text-align: center;
}
.jquery h1 {
	background: antiquewhite;
	padding: 10px;
	font-size: 30px;
  border-radius: 8px;
}
.jquery p {
	background: beige;
	padding: 10px;
}